.story {
  margin: 30px 0;

  @include e(title) {

    padding: 20px 0;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.description {

  color: $info-color;
  
  span {
    margin-right: 16px;  
    
    svg {
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  @include e(by) {

  }
}